
{% extends "base.html.twig" %}

{% block content %}
    Vous êtes sur la page {{ nompage }}



<table class="table">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Login</th>
        <th scope="col">Password</th>
        <th scope="col">FirstName</th>
        <th scope="col">LastName</th>
        <th scope="col">Email</th>
        <th scope="col">Supression</th>
        <th scope="col">Modifier</th>
    </tr>
    </thead>
    {% for etudiant in etudiants %}
        <tr>
            <th scope="row">{{ etudiant.getIdEtudiant }}</th>
            <th scope="row">{{ etudiant.getLogin }}</a></th>
            <th scope="row">{{ etudiant.getMotDePasse }}</th>
            <th scope="row">{{ etudiant.getPrenom }}</th>
            <th scope="row">{{ etudiant.getNom }}</th>
            <th scope="row">{{ etudiant.getEmail }}</th>
            <th scope="row"> <button type="submit">Suprimer</button> </th>
            <th scope="row"><a href="/modifierUtilisateur">Modifier</a></th>
        </tr>
    {% endfor %}
{% endblock %}